.slider {
    &__image {
        height: 390px;

        img {
            width: 100%;
        }
    }

    &__controls {
        position: absolute;
        top: 309.5px;
        right: 0;
        display: flex;
        flex-flow: row nowrap;
    }

    &__control {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-black;
        height: 65px;
        width: 65px;
        transition: background-color $animation-speed;
        cursor: pointer;
    }

    &__text {
        margin-bottom: 50px;

        &--heading {
            margin-bottom: 25px;
        }
    }

    &__link {
        text-transform: uppercase;
        letter-spacing: 5px;

        a {
            color: $color-black;
            transition: color $animation-speed;
        }

        .link__text {
            margin-right: 20px;
        }
    }

    .text-wrapper {
        padding: 80px 40px;
        color: $color-dark-gray;
    }

    &--hidden {
        display: none;
        opacity: 0;
        height: 0;
        width: 0;

        &.text-wrapper {
            padding: 0;
        }
    }
}

@include media-breakpoint-up(md) {
    .slider {
        &__image {
            height: fit-content;
        }

        &__controls {
            top: 722px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .slider {
        display: grid;
        grid-template-columns: 840px auto;

        .image-wrapper {
            flex: 0 0 59%;
        }

        .text-wrapper {
            flex: 0 0 41%;
        }

        &__image {
            height: auto;

            img {
                width: auto;
            }
        }

        &__controls {
            top: 469px;
            right: auto;
            left: 840px;
        }

        &__control {
            &:hover {
                background-color: $color-dark-gray;
            }
        }

        &__link {
            letter-spacing: 10px;

            a {
                color: $color-black;
            }

            .link__text {
                margin-right: 30px;
            }

            .icon-arrow-right > svg {
                fill: $color-black;
                transform: translateX(0);
                transition: transform $animation-speed,
                    fill $animation-speed;
            }

            &:hover {
                a {
                    color: $color-dark-gray;
                }

                .icon-arrow-right > svg {
                    fill: $color-dark-gray;
                    transform: translateX(15px);
                }
            }
        }

        .text-wrapper {
            padding: 80px;
            color: $color-dark-gray;
        }

        &--hidden {
            display: none;
            height: 0;
            width: 0;

            &.image-wrapper {
                flex: 0 0 0%;
            }

            &.text-wrapper {
                padding: 0;
                flex: 0 0 0%;
            }
        }
    }
}




