// black and white color
$color-black: #000;
$color-white: #fff;

// body colors
$color-body: $color-white;
$color-body-dark: $color-black;

// text colors
$color-text: $color-black;
$color-text-light: $color-white;

// primary colors
$color-dark-gray: hsl(0, 0%, 63%);
$color-very-dark-gray: hsl(0, 0%, 27%);
